.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    border-right: 1px solid #ddd;
}

main h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.code-box {
    background: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    font-family: "Courier New", monospace;
    font-size: 14px;
    white-space: pre-wrap;
    display: none; /* приховано за замовчуванням */
    margin-top: 10px;
    border-radius: 5px;
}
.show-code-btn {
    margin-top: 10px;
}

